input {
  file {
    path => "http://127.0.0.1:8080/assets.csv"
    start_position => "beginning"
  }
}

filter {
      csv {
        columns => [ "CUSTOMER_ID", "BILLING_ACCOUNT_ID", "ASSET_ID", "VOICE_ASSET_ID", "ACTIVATION_DATE", "DEACTIVATION_DATE", "ASSET_STATUS_ID", "INITIATION_CHANNEL", "INITIATION_DEALER_ID", "PORTABILITY", "LOOP_TYPE", "INTEGRATION_ID", "ASSET_STATUS_REASON", "ASSET_STATUS_REASON_DESCR", "PROVIDER_DEST", "PROVIDER_SOURCE" ]
     separator => ";"
     }
    }

output {
  elasticsearch { 
  hosts => ["elasticsearch:9200"] 
    user => "elastic"
password => "changeme"
  index => "assets"
  }

 }